/* banner which is the background image for */
.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("Reserved Reservoir-logo/computer-gf7e92db6f_1280.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1; /* Ensure the background appears behind other elements */
}

/* Style the links inside the navigation bar */
nav {
  width: 100%; 
  display: flex;
  justify-content: center;  /* Center the <li> elements horizontally */
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around; /* Spread out the <li> elements evenly */
  align-items: center;
  width: 100%; /* Ensure the <ul> takes up the full width of the navigation bar */
}

nav li {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 28px; /* Initial font size */
}


/* Change the color when hovering */
nav a:hover {
  color: #B54C61; 
  text-decoration: underline; /* Add underline effect when hovering */
}

.content{
  width:100%;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1{
  font-size: 40px;
  margin-top: 80px;
}

.content p{
  margin: 20px auto;
  font-weight: 100;
  font-size: 25px;
  line-height: 25px;
}

nav .logo img {
  width: 90%;
  height: 45%;
  max-width: 350px;
  max-height: 1440px;
}

